
h1 {
    color:midnightblue;
    font-size: 60px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    color: lightcoral;
    text-align: center;
    font-size: 35px;
}
h2.mainHeading {
    color: rebeccapurple;
    font-size: 50px;
    /* font-weight: bolder; */
    text-transform: capitalize;
    /* font-style: italic; */
    font-family: Tahoma, Geneva, Verdana, sans-serif,Segoe UI;
}
h2.secondaryHeading {
    color: rebeccapurple;
    font-size: 30px;
    font-family: Tahoma, Geneva, Verdana, sans-serif,Segoe UI;
}
body {
    background-color: floralwhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr {
    border-top : 0.5px dotted darksalmon;
}
aside>h3 {
    color: maroon;
}
footer,aside {
    background-color: ghostwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.by {
    text-align: right;
    margin-right: 30px;
}
a:link,a:visited {
    text-decoration: none;
    background-color: oldlace;
    /* border: 1px solid cornsilk; */
    color:royalblue;
}
a:hover,a:active {
    background-color: linen;
    color:blue;
}
.nonSelectable {
    /* To disable text selection */
    -webkit-user-select: none;   /* Safari */
    -ms-user-select: none;       /* IE 10+ and Edge */
      user-select: none;         /* Standard syntax */
}
h1>img {
    margin-bottom: -15px;
    height: 70px;
    width: 100px;
}
h2.mainHeading>img {
    margin-bottom: -15px;
    height: 70px;
    width: 100px;
}
h2>img {
    margin-bottom: -7px;
    width: 40px;
    height: 40px;
}
img {
    user-select: none;
    pointer-events: none;
}
.smallIcon {
    width:15px;
    height:15px;
    margin-bottom:-1px;
}